<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.popularmovies" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.popularmovies.activities.PopularMoviesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.popularmovies.activities.MovieDetailsActivity"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName="com.popularmovies.activities.PopularMoviesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.popularmovies.activities.PosterMoviesActivity" />
        </activity>
        <activity
            android:name="com.popularmovies.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.popularmovies.activities.PopularMoviesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.popularmovies.activities.PopularMoviesActivity" />
        </activity>
        <provider
            android:name=".data.MoviesProvider"
            android:authorities="com.popularmovies.data" >
        </provider>
    </application>

</manifest>
